.model-Edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}
.select{
   width: 102%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
}
/* ===== Modal Card ===== */
.model {
  width: 420px;
  max-width: 95%;
  background: #ffffff;

  border-radius: 20px;
  padding: 35px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);

  animation: popup 0.3s ease;
}

/* ===== Heading ===== */
.model h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #222;
  font-size: 24px;
}

/* ===== Inputs ===== */
.input {
  width: 94%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
}

.input:focus {
  border-color: #5a67d8;
}

/* ===== Disabled fields ===== */
.input:disabled {
  background: #f2f2f2;
  cursor: not-allowed;
}

/* ===== Error text ===== */
.error {
  color: red;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}

/* ===== Buttons container ===== */
.model-action {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 25px;
}

/* ===== Buttons ===== */
.bttn {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* Cancel */
.bttn-cancel {
  background: #e5e7eb;
  color: #333;
}

.bttn-cancel:hover {
  background: #d1d5db;
}

/* Save */
.bttn-save {
  background: #5a67d8;
  color: white;
}

.bttn-save:hover {
  background: #434190;
}