.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
  }
  
  .prev-btn,
  .next-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #e71ddd 0%, #292ce7 100%);
    color: #fff;
    cursor: pointer;
    
  }
  
  /* .prev-btn:hover,
  .next-btn:hover {
    background-color: #0056b3;
  } */
  
  .prev-btn:disabled,
  .next-btn:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .pagination-info {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  