.post-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    /* background-color: #f9f9f9; */
    background: linear-gradient(135deg, #e985e4 0%, #8081e4 100%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.);
}

.post-left img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #ccc;
}
.post-left{
    display: flex;
}

.post-right {
    flex: 1;
}

.post-right h1 {
    margin: 0 0 10px 0;
    font-size: 28px;
    color: #333;
}

.edt-btn, .dlt-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 200px;
    /* margin-right: 70; */
    /* gap: 15px; */
}

.btn-group{
    display: flex;
    /* margin-right: 100px; */
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}
   

.edt-btn {
    background-color: #4caf50;
    color: white;
}

.edt-btn:hover {
    background-color: #45a049;
}

.dlt-btn {
    background-color: #f44336;
    color: white;
}

.dlt-btn:hover {
    background-color: #e53935;
}
