.form {
    width: 600px;
    min-height: 400px;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    border-radius: 14px;
    padding: 35px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

.text-input,
.con {
    width: 100%;
    max-width: 620px;
    padding: 12px 15px;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #bbb;
    outline: none;
    transition: all 0.3s ease;
}

.text-input:focus,
.con:focus {
    border-color: #396fe4;
    box-shadow: 0 0 0 3px rgba(240, 192, 0, 0.3);
}

.con {
    height: 120px;
    resize: none;
}

.file {
    width: 100%;
    max-width: 620px;
    margin-top: 20px;
    font-size: 15px;
}

.preview-img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin-top: 25px;
    border-radius: 10px;
}

.btn1 {
    width: 250px;
    height: 52px;
    margin-top: 35px;
    background-color:#d89ed0;;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn2 {
    width: 250px;
    height: 52px;
    margin-top: 0;
    background-color:#f16ce0;;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.error {
    width: 100%;
    max-width: 620px;
    margin-top: 6px;
    color: red;
    font-size: 14px;
}

