.main-class {
    width: 100vw;
    height: 70px;
    background-color: #222;
    color: #fff;
    text-align: center;
    display: flex;
    align-items:  center;
    justify-content:center;
}
  
 
  