
.login-container{
    display: flex;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.login-left{
    flex: 1;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100vw;

}

.login-left img{
    width: 80%;
    height: 80%;
    max-width: 700px;
}

.login-right{
    flex: 1;
     background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1000px;
}

.login-right h2,
.login-right .subtitle,
.input-field,
.btn{
    width: 100%;
    max-width: 380px;
}

.login-right h2{
    font-size: 32px;
    margin-bottom: 8px;
    text-align: center;
}

.subtitle{
    color: rgb(42, 73, 73);
    margin-bottom: 30px;
    text-align: center;
}
.input-field{
    padding: 14px 16px;
    margin-bottom: 16px;
    border: 1px solid rgb(50, 85, 4);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.input-field-focus{
    border-color: rgb(76, 76, 138);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
   border-radius: 4px;
   border: none;
   font-size: 15px;
   cursor: pointer;
   color: rgb(213, 218, 221);
   margin-bottom: 16px;
   height: 50px;
   width: 380px;
   background-color: rgb(178, 107, 187);
 
}