.pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 30px 0;
    flex-wrap: wrap;
}
.page-select {
    height: 50px;
    padding: 0 18px;
    border-radius: 25px;
    border: 1px solid #6a94dd;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background: white;
}

.btn,
.btn {
    height: 34px;
    width: 70px;
    padding: 0 14px;
    font-size: 13px;
}

.btn-next {
    height: 42px;
    padding: 10px 28px;
}

