h1 {
  text-align: center;
  margin-top: 40px;
}
.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  
  margin-top:50px;
}
.message body {
  width: 80px;
}
.form input {
  width: 100%; 
  margin: 10px 0; 
  padding: 8px; 
  box-sizing: border-box; 
}
.box {
  width: 500px;
  height: 35px;
  border: 1px solid;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 10px 0;
}
.form input[type="button"] {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
.form input[type="file"] {
  box-sizing: border-box;
  width: 100%;
}
